<% title @league.title %>
<h1><%= yield :title %> |
  <span class="appendix"><%= link_to 'Edit', edit_league_path(@league) %></span> |
  <span class="appendix"><%= link_to 'List', leagues_path %></span>
</h1>

<% if (notice) %>
    <div class="alert-box success"><%= notice %></div>
<% end %>
<p>
  <b>Title:</b>
  <%= @league.title %>
</p>

<p>
  <b>Alias:</b>
  <%= @league.alias %>
</p>

<p>
  <b>Type:</b>
  <%= @league.type %>
</p>